<a href="https://colab.research.google.com/github/fathillahdarojad/kka-semester-1/blob/main/fungsi_print_fathillah_AD_X1_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#menampilka teks bebas

In [ ]:
print ("halo dunia")

halo dunia

In [ ]:
print ("Selamat datang di python")

Selamat datang di python

#variabel

In [ ]:
bb = 66
print (bb)

66

In [ ]:
usia = 15
print (usia)

15

#menampilkan teks bebas dan variabel

In [ ]:
nama = "Fathillah Akbar Darojad"
usia = 15
tingi = 160

print (f"{nama} {usia} {tingi}")

Fathillah Akbar Darojad 15 160

In [ ]:
umur = 15
print (f"umur saya {umur} tahun")

umur saya 15 tahun

In [ ]:
bb = 66
print (f"beberatrat gwehh {bb} kg")

berat gwehh 66 kg

In [ ]:
nama_pembeli = "toyo"
print("nama pembeli telur adalah " + nama_pembelpembelii)

nama pembeli telur adalah toyo

latihan soal

1. tanpilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2. tampilkan nilai variabel:mata_pelajaran_favorit = kode dan kecerdasan buatan
3. tampilkan nilai variabel : nilai_kka = 100
4. tampilkan teks bebas dan nilai variabel dengan tiga metode (f string, "+", ", ") : " nilai KKA saya adalah {nilai_kka} loh! "

#Escape character

In [ ]:
print("nama: nama Fathillah Akbar Darojad")
print("kelas: XI.1")
print("nomor absen: 11")

nama: nama Fathillah Akbar Darojad
kelas: XI.1
nomor absen: 11

In [ ]:
print ("nama\t\t: Fathillah Akbar Darojad\nkelas\t\t: 11.1\nNomor absen\t: 11")

nama		: Fathillah Akbar Darojad
kelas		: 11.1
Nomor absen	: 11

In [ ]:
print("""nama: nama Fathillah Akbar Darojad
kelas: XI.1nomor absen: 11""")

nama: nama Fathillah Akbar Darojad
kelas: XI.1nomor absen: 11

In [ ]:
print("ja'far shodiq")

ja'far shodiq

In [ ]:
print('ja\'far shodiq')

ja'far shodiq

In [ ]:
print("ghais berkata, \"aku sang penakluk menjanh.\"")

ghais berkata, "aku sang penakluk menjanh."

In [ ]:
print("lokasi file menjang skuyy ada di D:\\menjang 2035\\mp5")

lokasi file menjang skuyy ada di D:\menjang 2035\mp5

#parameter fungsi print

In [ ]:
tahun = 2010
tanggal = 29
bulan = "juli"

print(tahun)
print(tanggal)
print(bulan)

2010
29
juli

In [ ]:
tahun = 2010
tanggal = 29
bulan = "juli"

print(tahun, end=" ")
print(tanggal, end=" ")
print(bulan)

2010 29 juli

In [ ]:
tahun = 2010
bulan = "juli"
tanggal = 29

print(tanggal, bulan, tahun)

29 juli 2010

latihan

In [ ]:
nama_depan = "fathillah"
nama_belakang = "akbar"

print(nama_depan, nama_belakang)

fathillah akbar

In [ ]:
nama_depan = "fathillah"
nama_belakang = "akbar"

print(nama_depan, end=" ")
print(nama_belakang)

fathillah akbar

In [ ]:
tahun = 2010
bulan = "juli"
tanggal = 29

print(tanggal, bulan, tahun, sep="-")

29-juli-2010

In [ ]:
print("bu shinta berkata, \"berikut adalah judul pelajaran hari senin selasa rabu silahkan simpan di laptop masing-masing di folder local disk D:\\jadwal pelajaran\\kelas XI semester!\"\n")
print("jadwal pelajaran mingguan ", )
print("==========================")
print("jam\tsenin\tselasa\trabu")
print('jam1 matematika bahasa informatika')

bu shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silahkan simpan di laptop masing-masing di folder local disk D:\jadwal pelajaran\kelas XI semester!"

jadwal pelajaran mingguan
==========================
jam	senin	selasa	rabu
jam1 matematika bahasa informatika

In [ ]:
nama_siswa_1 = "naufal"
nama_siswa_2 = "favian"
nama_siswa_3 = "humaira"
nama_siswa_4 = "favian"
print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

naufal~favian~humaira~favian

In [ ]:
print(nama_siswa_1, end="~")
print(nama_siswa_2)
print(nama_siswa_3, end="~")
print(nama_siswa_2)

naufal~favian
humaira~favian